
<!DOCTYPE html>
<html lang="en" class="loading">
    <head th:replace="layout/layoutMain :: head"></head>

    <body data-col="2-columns" class=" 2-columns ">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="wrapper nav-collapsed menu-collapsed">
        <div th:replace="layout/layoutMain :: menuLateral"></div>
        <div th:replace="layout/layoutMain :: menuNavbar"></div>

        <div class="main-panel">
            <div class="main-content">
                <div class="content-wrapper">
                    <div class="container-fluid">
                        <section id="alert">
                            <div class="row match-height">
                                <div class="col-sm-12">
                                    <h2 class="content-header">Administrar Tipos de Eventos</h2>
                                </div>
                            </div>
                            <!--Alert States Starts-->
                            <div class="row match-height">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="card-title-wrap bar-success">
                                                <h4 class="card-title">Tipo de Evento</h4>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-block">
                                                <form action="../../../../tipoEventoF" method="POST">
                                                    <input type="hidden" th:field="${tipoEvento.id_tipoEvento}">
                                                    <div class="form-body">
                                                        <div class="row">
                                                            <div class="col-lg-12 col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="eventRegInput1">Descripcion del Tipo de Evento</label>                                        
                                                                    <input type="text" id="eventRegInput1" class="form-control" th:field="${tipoEvento.desc_tipoEvento}" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12 col-sm-12">
                                                                <button style="width: 100%;" class="btn btn-success" type="submit" id="Enviar" >
                                                                    <i class="icon-note"></i> Guardar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </div>
        <div th:replace="layout/layoutMain :: scripts"></div>
    </body>
</html>