<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card-block" th:fragment="table">
        <table  style="font-size: 11px;" class="table table-striped table-bordered file-export">
            <thead>
                <tr>
                    <th>Sector</th>
                    <th>Botella</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="sec : ${sectorBotellas}">
                    <td th:text="${sec.sector.id_sector}"></td>
                    <td th:text="${sec.num_sectorBotella}"></td>
                </tr>
        </table>
    </div>
</body>
</html>