
<!DOCTYPE html>
<html lang="en" class="loading">
    <head th:replace="layout/layoutMain :: head"></head>

    <body data-col="2-columns" class=" 2-columns hidden">
        <div class="centreadooo" id="onload">
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="wrapper">
        <div th:replace="layout/layoutMain :: menuLateral"></div>
        <div th:replace="layout/layoutMain :: menuNavbar"></div>

        <div class="main-panel">
            <div class="main-content">
                <div class="content-wrapper">
                    <div class="container-fluid">
                        <section id="alert">
                            <div class="row match-height">
                                <div class="col-sm-12">
                                    <h2 class="content-header">EVENTOS</h2>
                                    <button type="button" style="width: 100%;" class="btn btn-primary text-uppercase white font-small-4" data-toggle="modal"  data-target="#tipoEventosModal">Buscar por Categoria de Evento</button>
                                </div>
                            </div>
                            <!--Alert States Starts-->
                            <div class="row match-height">
                                <div class="col-sm-12">
                                    <div class="row card-deck">
                                        <div class="col-lg-4 col-sm-12" th:each="ev : ${eventos}" th:if="${ev.habilitado != 'D'}">
                                            <div class="card h-100">
                                                <th:Block th:if="${ev.habilitado != 'H'}">
                                                    <img class="card-img-top" th:src="@{'/uploads/' + ${ev.img_evento}}" alt="Card image cap">
                                                </th:Block>
                                                <th:Block th:if="${ev.habilitado == 'H'}">
                                                    <a th:href="@{'../../../../eventoCR/'+ ${ev.id_evento}}">
                                                        <img class="card-img-top" th:src="@{'/uploads/' + ${ev.img_evento}}" alt="Card image cap">
                                                    </a>
                                                </th:Block>
                                                <div class="card-body">
                                                    <div class="card-block">
                                                    <h5 class="card-title" th:text="${ev.desc_evento}">Card title</h5>
                                                    <h6>Categoria: </h6>
                                                    <p class="card-text" th:text="${ev.tipoEvento.desc_tipoEvento}"></p>
                                                    <h6>Lugar</h6>
                                                        <p class="card-text" th:text="${ev.lugar.nom_lugar}"></p>
                                                    <h6>Dirección: </h6>
                                                        <p class="card-text" th:text="${ev.lugar.direccion}"></p>
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <th:Block th:if="${ev.habilitado != 'H'}">
                                                        <a class="btn btn-danger btn-lg btn-block" disabled>Agotado</a>
                                                    </th:Block>
                                                    <th:Block th:if="${ev.habilitado == 'H'}">
                                                        <a th:href="@{'../../../../eventoCR/'+ ${ev.id_evento}}" class="btn btn-warning btn-lg btn-block">Comprar Tickets</a>
                                                    </th:Block>
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </section>
                        
                            <div class="modal fade text-left" id="tipoEventosModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel1" aria-hidden="true" >
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content" >
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel1">Categorias</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group" style="width: 100%;">
                                                        <th:block th:each="te : ${tipoEventos}" th:if="${te.estado != 'X'}">
                                                            <a th:href="@{'../../../../eventoCRB/'+ ${te.id_tipoEvento}}" type="button" class="btn btn-dark">
                                                                <img th:src="@{'/uploads/' + ${te.img_tipoEvento}}" style="height: 100px;" alt="Sin imagen">
                                                                <strong class="white" th:text="${te.desc_tipoEvento}" ></strong>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="modal-footer text-center" >                                
                                                <button type="button" style="width: 100%" class="btn btn-danger" data-dismiss="modal">Cerrar ventana</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
        <div th:replace="layout/layoutMain :: scripts"></div>
        <script>
            window.onload = function() {
                $('#onload').fadeOut();
                $('body').removeClass('hidden');
            }
        </script>
        <th:block th:if="${success!=null}">
            <input id="urlImg" type="hidden" th:value="${success}">
            <input id="textoAux" type="hidden" th:value="${success2}">
            <script>
                $(document).ready(function Mostrar() {

                    var valorDelInput = $('#urlImg').val();
                    var valorDelInput2 = $('#textoAux').val();

                    swal({
                        title: 'Gracias por escoger',
                        text: valorDelInput2,
                        imageUrl: valorDelInput,
                        imageWidth: 400,
                        imageHeight: 350,
                        imageAlt: 'Custom image',

                    }).then().done();
                });
            </script>
        </th:block>
    </body>
</html>