<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class="row" style="background-color: black;">
        <div class="col-12 text-center">
            <center><img src='https://i.imgur.com/yOriwnw.png' alt='company-logo' width='200'></center>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="text-align: center;">
            <h5>ESTIMADO CLIENTE.</h5>
            <h5>La compra de entradas para la Mesa <b th:text="${sector}"></b> del evento <b th:text="${evento}"></b>  se realizó con éxito.</h5>
        </div>
    </div>
    <div class="row"> 
        <div class="col-12" style="text-align: center;">
            <p><strong><b>INTRUCCIONES:</b></strong></p>
        </div>
    </div>
    <div class="row"> 
        <div class="col-12" style="text-align: center;">
            <p>Usted debe descargarse el documento que contiene sus entradas y debe presentarlos en la puerta de ingreso respectivo para poder ingresar al mismo.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="text-align: center;">
            <p><b>Puede imprimir y presentar el documento o presentarlo mediante un dispositivo móvil.</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="text-align: center;">
            <p>Después de ser validada la entrada en el ingreso, NO PODRÁ ser utilizado nuevamente quedando invalidado su uso. En este mismo sentido, el intentar volver a utilizarlo, copiar o realizar cualquier tipo de adulteración de este, dará lugar a la denuncia correspondiente. Mantenga esta entrada en un lugar seguro ya que cualquiera que tenga acceso a ella la podrá utilizar.</p>
        </div>
    </div>
    <div class="row">
        <center><div class="col-lg-6 col-sm-12">
            <a style="
            padding: 16px 32px;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
            border-radius: 10px;
            text-decoration: none;
            text-transform: uppercase;
            background-color: #fcbf49; 
            color: white; 
            border: 2px solid #fcbf49;" th:href="${'https://touch-and-treat.up.railway.app/'+link}" >Ver Tickets para Imprimir</a>
        </div>
        </center>
    </div><br>
    <div class="row"> 
        <div class="col-12" style="text-align: center;">
            <p><strong><b>NOTA: En caso de presentar el documento impreso debe estar impreso de manera clara y legible para el control de ingreso.</b></strong></p>
        </div>
    </div>
    <div class="row"> 
        <div class="col-12" style="text-align: center;">
            <p><strong><b>Nos vemos en el <b th:text="${evento}"></b>!</b></strong></p>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-12" style="text-align: center;">
            <p>
                    Ante cualquier duda o problema por favor envíenos un correo electrónico a: <a href="mailto:wayrasoluciones.tnt@gmail.com">wayrasoluciones.tnt@gmail.com</a>
            </p>
            <p> o </p>
            <p style="background-color: #80ed99;" >
                    comuníquese vía WhatsApp al número <a href="https://wa.me/59178850666" >+591 - 78850666</a>
            </p>
        </div>
    </div>
</body>
</html>